


<!-- Footer -->
<div class="col-md-12 footer">
        <div style="height:32px; ">
                <div class="row"> 
                        <div class="col-md-6 col-sm-6 footer-left" >
                                <p>&copy; Copyright 2018, CISCO Instant Connect, All Right Reserved</p>
                        </div>
                        <div class="col-md-6 col-sm-6 footer-right">
                               <p style="float: right;"> <a href="#">Terms of Use </a> | <a href="#">Privecy Policy</a> </p>
                        </div>
                </div>
        </div>
</div>