<!-- Header -->
<div class="col-md-12 header" style="padding: 0px;">
        <div class="row" style="height:48px; background-color:#000000;padding-top: 5px;">
            <div class="col-md-6">
                <span class=" header-left-icon">
                    <img src="images/icons/settings_512x512.png" class="icon " />
                </span>
                <span class=" header-left-icon">
                    <img src="images/icons/left_64x64.png" class="icon " />
                </span>
                <span class=" header-left-icon">
                    <img src="images/icons/right_64x64.png" class="icon" />
                </span>
                <span class=" header-left-icon">
                    <img src="images/icons/help_64x64.png" class="icon" />
                </span>
            </div>
            <div class="col-md-6">
                <div style="float:right;">
                    <span>
                        <select class="statusHeader" id="status" name="status">
                            <option style="color:green;" value="1">Available</option>
                            <option style="color:red;" value="2">Busy</option>
                            <option style="color:orange;" value="3">Away</option>
                        </select>
                    </span>
                    <span class=" header-left-icon">
                        <img src="images/icons/green_halo_512x512.png" class="icon" />
                        <img src="images/icons/user_64x64.png" class="icon icon-user" />
                    </span>
                    <span style="color:white;"> Mark Gonsalves(mgonsalves)</span>
                    <span class=" header-left-icon">
                        <img src="images/icons/logout_512x512.png" class="icon" />
                    </span>

                </div>
            </div>

        </div>
    </div>