<script src="../../scripts/scripts.js" type="text/javascript"></script>
 <!-- Main Left -->
 <div class="col-md-2 mainPanelLeft" style="padding-right: 0px;">
    <div class="mainPanelLeft" style=" background-color:#445366;">
        <div class="tabs standard ">
            <div class="col-md-12 left-tab" style="padding: 0px;">
                <div style="height:48px; background-color:#2C3A4B;  padding-top: 1px;">
                    <ul class="tab-links">
                        <li class="active" style=" line-height: 0em;">
                            <a tabFor="channels"  href="#/channel">
                                <span class="tabView-left-icon channel">
                                    <img src="images/icons/channel_group_512x512.png" class="iconTab" />
                                    <span class="tabText activeTabText" id="channel-lefttab">Channels</span>
                                </span>
                            </a>
                        </li>
                        <li class="" style=" line-height: 0em;">
                            <a tabFor="user" href="#/user">
                                <span class="tabView-left-icon user">
                                    <img src="images/icons/user_512x512.png" class="iconTab" />
                                    <span class="tabText inactiveTabText" id="user-lefttab">Users</span>
                                </span>
                            </a>
                        </li>
                        <li class="" style=" line-height: 0em;">
                            <a tabFor="alerts" href="#/alerts">
                                <span class="tabView-left-icon alerts">
                                    <img src="images/icons/alert_512x512.png" class="iconTab" />
                                    <span class="tabText inactiveTabText" id="alert-lefttab">Alert</span>

                                </span>
                            </a>
                        </li>
                        <li class="" style=" line-height: 0em;">
                            <a tabFor="camera" href="#/camera">
                                <span class="tabView-left-icon camera">
                                    <img src="images/icons/camera_512x512.png" class="iconTab" />
                                    <span class="tabText inactiveTabText" id="camera-lefttab">Camera</span>

                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-md-12 tab-content">
                <div id="channels" class="tab " style="display: block;">
                    <!-- search box Left -->
                    <div class="row" style=" padding: 0px;padding-left: 4px;">
                        <div class="col-md-8" style="padding:0px;">
                            <div>
                                <input type="text" name="" placeholder="Search" style="width:100%; background-color: #677587;color:#445366;">
                            </div>
                        </div>
                        <div class="col-md-2" style="padding-left: 5px;">
                            <span class="tabView-left-icon channel">
                                <img src="images/icons/search_512x512.png" class="" style="width:25px;" />
                            </span>
                        </div>
                        <div class="col-md-2" style="padding-left: 0px;">
                            <span class="tabView-left-icon channel">
                                <img src="images/icons/plus_512x512.png" class="" style="width:32px;" />
                            </span>
                        </div>
                    </div>
                    <!-- Bellow Search Box Left -->
                    <div class="row" style="padding-top: 15px;">
                        <div class="col-md-12 mainTab" style="padding-left:5px; cursor: pointer;">
                            <div class="mainTabRow">
                                <div class="row " style="padding-top: 7px; ">
                                    <div class="col-md-2">
                                        <span class="tabView-left-icon channel">
                                            <img src="images/icons/channel_512x512.png" style="width:25px;" />
                                        </span>
                                    </div>
                                    <div class="col-md-10  tab-list-text ">
                                        <span class="">Announcements</span>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 mainTab" style="padding-left:5px;">
                            <div class="row mainTabRow" style="padding-left: 15px;padding-top: 5px;">
                                <input id="toggleDevelopment" class="toggleButton" type="checkbox">
                                <div class="toggleGroupColor">
                                    <label for="toggleDevelopment" class="toggleButtonText tab-list-text">Development Team</label>
                                </div>
                                <div id="expandDevelopment">
                                    <div class="row" style="padding-top: 7px; margin-right:0px; ">
                                        <div class="col-md-2 col-sm-2">
                                            <span class="tabView-left-icon channel">
                                                <img src="images/icons/channel_512x512.png" style="width:25px;" />
                                            </span>
                                        </div>
                                        <div class="col-md-10 col-sm-10 tab-list-text ">
                                            <span class="">Server</span>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 7px; margin-right:0px;">
                                        <div class="col-md-2">
                                            <span class="tabView-left-icon channel">
                                                <img src="images/icons/channel_512x512.png" style="width:25px;" />
                                            </span>
                                        </div>
                                        <div class="col-md-10  tab-list-text">
                                            <span class="">Mobile</span>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 7px; margin-right:0px;">
                                        <div class="col-md-2">
                                            <span class="tabView-left-icon channel">
                                                <img src="images/icons/channel_512x512.png" style="width:25px;" />
                                            </span>
                                        </div>
                                        <div class="col-md-10  tab-list-text">
                                            <span class="">Desktop</span>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 7px; margin-right:0px;">
                                        <div class="col-md-2">
                                            <span class="tabView-left-icon channel">
                                                <img src="images/icons/channel_512x512.png" style="width:25px;" />
                                            </span>
                                        </div>
                                        <div class="col-md-10  tab-list-text">
                                            <span class="">UMS</span>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 7px; margin-right:0px;">
                                        <div class="col-md-2">
                                            <span class="tabView-left-icon channel">
                                                <img src="images/icons/meeting_512x512.png" style="width:25px;" />
                                            </span>
                                        </div>
                                        <div class="col-md-10  tab-list-text">
                                            <span class="">Daily Scrum Mgt</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mainTab" style="padding-left:5px;">
                            <div class="row mainTabRow" style="padding-left: 15px;padding-top: 5px;">
                                <input id="toggleQATeam" class="toggleButton" type="checkbox">
                                <div class="toggleGroupColor">
                                    <label for="toggleQATeam" class="toggleButtonText tab-list-text">QA Team</label>
                                </div>
                                <div id="expandQATeam">
                                    <div class="row" style="padding-top: 7px; margin-right:0px;">
                                        <div class="col-md-2">
                                            <span class="tabView-left-icon channel">
                                                <img src="images/icons/channel_512x512.png" style="width:25px;" />
                                            </span>
                                        </div>
                                        <div class="col-md-10  tab-list-text">
                                            <span class="">CloudCIC Issues</span>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 7px; margin-right:0px;">
                                        <div class="col-md-2">
                                            <span class="tabView-left-icon channel">
                                                <img src="images/icons/channel_512x512.png" style="width:25px;" />
                                            </span>
                                        </div>
                                        <div class="col-md-10  tab-list-text">
                                            <span class="">Other Issues</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <div id="user" class="tab" style="display: none;">
                    <!-- search box Left -->
                    <div class="row" style=" padding: 0px;padding-left: 4px;">
                        <div class="col-md-8" style="padding:0px;">
                            <div>
                                <input type="text" name="" placeholder="Search" style="width:100%; background-color: #677587;color:#445366;">
                            </div>
                        </div>
                        <div class="col-md-2" style="padding-left: 5px;">
                            <span class="tabView-left-icon channel">
                                <img src="images/icons/search_512x512.png" class="" style="width:25px;" />
                            </span>
                        </div>
                        <div class="col-md-2" style="padding-left: 0px;">
                            <span class="tabView-left-icon channel">
                                <img src="images/icons/plus_512x512.png" class="" style="width:32px;" />
                            </span>
                        </div>
                    </div>
                    <!-- Bellow Search Box Left -->
                    <div class="row" style="padding-top: 15px;">

                        <div class="col-md-12 mainTab" style="padding-left:5px;">
                            <div class="row mainTabRow" style="padding-left: 15px;padding-top: 5px;">

                                <input id="toggleServerDev" class="toggleButton" type="checkbox">
                                <div class="toggleGroupColor">
                                    <label for="toggleServerDev" class="toggleButtonText tab-list-text">QA Team</label>
                                </div>

                                <div id="expandServerDev" class="expand">
                                    <div class="row" style="padding-top: 7px; margin-right:0px;margin-left:0px;">
                                        <div class="col-md-2" style="padding-left: 0px; padding-right: 0px;">
                                            <div>
                                                <img src="images/icons/green_halo_512x512.png" class="member-icon" />
                                                <img class="member-img img-circle" src="images/icons/chatPic.jpg" />
                                            </div>
                                        </div>
                                        <div class="col-md-10 tab-list-text" style="padding-left: 6px;">
                                            <span class="member-name">Jhon Glesky</span>
                                            <br/>
                                            <p class="member-status">Available</p>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 7px; margin-right:0px;margin-left:0px;">
                                        <div class="col-md-2" style="padding-left: 0px; padding-right: 0px;">
                                            <div>
                                                <img src="images/icons/green_halo_512x512.png" class="member-icon" />
                                                <img class="member-img img-circle" src="images/icons/chatPic.jpg" />
                                            </div>
                                        </div>
                                        <div class="col-md-10 tab-list-text" style="padding-left: 6px;">
                                            <span class="member-name">Jhon Glesky</span>
                                            <br/>
                                            <p class="member-status">Available</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                </div>

                <div id="alerts" class="tab" style="display: none;">
                    <p>Tab #3 content goes here!</p>
                </div>
                <div id="camera" class="tab" style="display: none;">
                    <p>Tab #4 content goes here!</p>
                </div>
            </div>
        </div>
    </div>
</div>