<!-- Header -->
<div class="col-md-12 header" style="padding: 0px;">
    <div class="row" style="height:48px; background-color:#000000;padding-top: 5px;">
        <div class="col-md-6 col-sm-6">
            <a ng-click="login()">login</a>
        </div>
        <div class="col-md-6 col-sm-6">
            <p>login</p>
        </div>

    </div>
</div>

<!-- Main Panel -->
<div class="col-md-12 mainPanel" style="padding: 0px;">
    <div class="row " style="background-color:#2C3A4B;">
        <div class="">
            <p> body</p>
        </div>
    </div>
</div>